<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ movie.title }}</title>
</head>
<body>
    <h1>{{ movie.title }}</h1>
    <p>Year: {{ movie.year }}</p>
    <p>Platform: {{ movie.platform }}</p>
    <p>Type: {{ movie.type }}</p>
    <p>Director: {{ movie.director }}</p>
    <p>Cast: {{ movie.cast }}</p>
    <p>Country: {{ movie.country }}</p>
    <p>Rating: {{ movie.rating }}</p>
    <p>Duration: {{ movie.duration }}</p>
    <p>Genre: {{ movie.genre }}</p>
    <p>Description: {{ movie.description }}</p>
</body>
</html>